@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
*{
    margin: 0;
    padding: 0;
    font-family: 'Poppins','Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

}

.header{
    height: 120px;
    border-bottom: 2px solid black;
    display: flex;
    align-items: center;
    justify-content: center;
}

.logo{
    width:250px;
    margin-right: auto;
    margin-left: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.logo img{
    height: 300px;
    position: relative;
    top:25px;
}

.links{
    display: flex;
    align-items: center;
    justify-content: center;
}

#link{
    color:black;
    text-decoration: none;
    padding: 30px;
    font-size: 25px;
}

#link:hover{
    color: #4a77cb; 
}

.start{
    width:300px;
    height: 120px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.start button{
    height: 60px;
    width:200px;
    border-radius: 10px;
    font-size: 25px;
    background-color: #384152;
    color: #ffffff;
    border-style: none;
}

.start button:hover{
    background-color: #4a77cb; 
    cursor: pointer;
}

.content{
    height:600px;
    display: flex;
    justify-content:space-around;
    align-items: center;
}

.slogan_pngs{
    display: flex;
    height:300px;
    justify-content: center;
    align-items: center;
}

.slogan h1{
    font-size: 60px;
}

.description p{
    font-size: 30px;
    font-weight: 300;
}

.pngs img{
    height:200px;
}

.right img{
    height:400px;
}
